@use 'variables' as *
@use 'mixins' as *

html
    font-size: 16px
    height: auto

body
    background: rgb(33, 33, 33)
    background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(5, 45, 41, 1) 100%)

    height: auto
    display: flex
    justify-content: center
    align-items: center
    font-size: clamp(1rem, 2vw, 1.5rem)
    margin: 0
    padding: 0

.card
    width: 50%
    height: auto
    min-height: 90%
    background: rgb(11, 115, 91)
    background: radial-gradient(circle, rgba(11, 115, 91, 1) 0%, rgba(0, 0, 0, 1) 95%)
    border-radius: 20px
    margin-top: 40px
    margin-bottom: 40px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

.botoes-acima
    display: inline-block
    flex-wrap: nowrap
    background: none
    width: 100%
    margin-top: 40px

#compartilhar
    text-align: center
    position: relative
    float: right
    margin-right: 10%
    border: 3px solid transparent
    border-radius: 8px
    background-color: #221d1da3
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.445)
    color: #fff
    width: 20%
    min-width: 150px
    font-size: $size
    cursor: pointer
    font-family: $poppins

    &:hover
        background-color: #364f3a7b

#qrcode
    text-align: center
    position: relative
    border: 3px solid transparent
    border-radius: 8px
    background-color: #221d1da3
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.445)
    color: #fff
    width: 20%
    font-size: $size
    cursor: pointer
    font-family: $poppins
    margin-left: 10%

    &:hover
        background-color: #364f3a7b

#img
    display: flex
    justify-content: center
    position: relative

    img
        margin-top: $margintop
        margin-bottom: 2rem
        width: 100%
        max-width: 400px
        transition: transform 0.3s ease

        &:hover
            transform: scale(1.1)

.botoes-interativos
    display: flex
    flex-direction: column
    align-items: center

.inputs-links
    text-align: center
    position: relative
    border: 3px solid transparent
    border-radius: 8px
    background-color: #221d1da3
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.445)
    color: #fff
    width: 100%
    font-size: $size
    cursor: pointer
    font-family: $poppins
    margin-top: 20px

    &:hover
        background-color: #364f3a7b

#cnpjInput
    position: absolute //somente para ter certeza que não ira aparecer o conteudo sensivel.
    top: -99999999
    display: none

+mobil

    .card
        width: 100%
        height: 100%

    .inputs-links
        width: 100%

    #compartilhar
        margin-top: 20%
        width: 35%

    #qrcode
        margin-top: 20%

+tablet
    .card
        width: 100%
        height: 100%

    .inputs-links
        width: 100%

    #compartilhar
        width: 25%

.janelas-pagamentos
    width: 80%
    max-width: 800px
    height: 300px
    margin: 0 auto
    background-color: #0b735b55
    box-shadow: 20px 25px 20px #000000
    border: 2px solid #05503e
    position: relative
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center
    border-radius: 20px
    margin-top: $margintop
    margin-bottom: 2rem


.container
    width: 80%
    height: 50%
    border-radius: 25px
    background: radial-gradient(circle, rgba(11, 115, 91, 1) 0%, rgba(0, 0, 0, 1) 95%)
  
    position: relative
    display: flex
    justify-content: center
    align-items: center
    margin-top: $margintop
    margin-bottom: $margintop
    border: 1px solid black

.carrossel-container
    width: 80%
    max-width: 800px
    overflow: hidden
    position: relative
    margin-top: 25px
    margin-bottom: 80px

.carrossel
    display: flex
    transition: transform 1s ease-in-out


.foto
    min-width: 100%
    height: 300px
    background-size: cover
    background-position: center
    opacity: 0
    transition: opacity 1s ease-in-out
    border-radius: 20px 


.foto.visible
    opacity: 1

button
    position: absolute
    bottom: 15px
    right: 0%
    transform: translateX(-50%)
    padding: 10px 20px
    background-color: #0f243b
    color: white
    border: none
    border-radius: 5px
    cursor: pointer
    font-size: 16px

button:hover
    background-color: #b8ac0e




.arrow 
    position: absolute
    top: 50%
    transform: translateY(-50%)
    background-color: rgba(0, 0, 0, 0.5)
    color: white
    border: none
    padding: 15px 20px/* Tamanho fixo do botão */
    font-size: 0/* Zera o font-size do botão para evitar que a fonte afete o layout */
    cursor: pointer
    z-index: 10
    transition: background-color 0.3s ease
    display: flex
    justify-content: center/* Centraliza o ícone horizontalmente */
    align-items: center/* Centraliza o ícone verticalmente */
    max-width: 5%
    max-height: 15%


.arrow:hover 
    background-color: rgba(0, 0, 0, 0.7)


#proximo 
    right: 10px/* Posiciona o botão à direita */


#antes 
    left: 10px/* Posiciona o botão à esquerda */


.arrow i 
    font-size: 30px/* Define o tamanho do ícone */


